table td.estado-pendiente {
    color: rgb(161, 38, 38) !important;
    font-weight: bold;
}

table td.estado-en-proceso {
    color: rgb(212, 167, 31) !important;
    font-weight: bold;
}

table td.estado-terminado {
    color: rgb(12, 170, 57) !important;
    font-weight: bold;
}

div.dataTables_filter {
    display: none;
}

#btnLimpiarFiltros {
    background-color: #7A1737;
    color: white;
    border: none;
}

#btnLimpiarFiltros:hover {
    background-color: #501125;
}

.accordion {
    background-color: #EDD1AA;
    border-radius: 0px;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    margin-top: 25px;
}

.active,
.accordion:hover {
    background-color: rgb(219, 182, 136);
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2212";
}

.panel {
    padding: 0px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.dt-search {
    display: none;
}
        
thead {
    background-color: #7f8081 !important;
}
        
th {
    color: rgb(255, 255, 255) !important;
    text-align: start !important;
}
        
td{
    text-align: start !important;
}
        
.page-item.active .page-link {
    color: #fff !important;
    background-color: #7A1737 !important;
    border-color: #7A1737 !important; 
}
        
.page-link {
    color: #000000 !important;
    background-color: #F2F2F2 !important;
    border: 1px solid #c9cccf !important; 
}
        
.page-link:hover {
    color: #fff !important;
    background-color: #501125 !important;
    border-color: #501125 !important; 
}