         
            .btn-color {
            background-color: #7A1737;
            /*background-color: #B28854;*/
            color: #fff;
        }

        .position-bottom {
            position: fixed;
            bottom: 0;
            margin-bottom: 20px;
            width: 200px;
        }
        table td.estado-pendiente {
            color: rgb(161, 38, 38) !important;
            font-weight: bold;
        }

        table td.estado-en-proceso {
            color: rgb(212, 167, 31) !important;
            font-weight: bold;
        }

        table td.estado-terminado {
            color: rgb(12, 170, 57) !important;
            font-weight: bold;
        }
        
        div.dataTables_filter {
            display: none;
        }
        .btn-third-color {
            background-color: #B28854;
            color: #fff;
        }
        .btn-third-color:hover {
            background-color: #a3753d;
            color: #fff;
        }

        .accordion {
        background-color: #EDD1AA;
        border-radius: 0px;
        color: black;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 18px;
        transition: 0.4s;
        margin-top: 25px;
        }

        .active, .accordion:hover {
        background-color:rgb(219, 182, 136);
        }

        .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
        }
        .accordion.active:after {
        content: "\2212";
        }

        .panel {
        padding: 0px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        } 
        #guardar {
            background-color: #7A1737;
            color: white;
            border: none;
        }
        #guardar:hover {
            background-color: #501125;
        }
